{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">  
{% endblock %}
{% block body%}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Add Uniform</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <h2 class="display-3 p-3 mb-2 bg-info text-primary " style="padding: 10px;">Add WorkShop Labcoat...</h2>

    <form method="POST"  enctype="multipart/form-data"  style="width: 9cm; margin:auto; border: 1px solid ;  padding: 20px;
    ">
        {% csrf_token %}

        {{new|crispy}}

        <button class="btn btn-lg btn-primary" type="submit">Submit Details</button>

    </form>
</body>

</html>
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{%endblock%}