{%block body%}

<meta name="viewport" content="width=device-width, initial-scale=.70">
<title>Search Books</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">



<form method="POST" style="width: 12cm; margin:auto;   padding: 20px;
  ">
      {% csrf_token %}  
  <div class="sel sel--black-panther">
    <select name="branch" id="branch">
      <option value="" disabled selected>Select Branch</option>
      <option value="First Year">First Year</option>
      <option value="CSE">Computer Science</option>
      <option value="IT">Information Technology</option>
      <option value="Entc">Electronics Engineering</option>
      <option value="Mech">Mechanical Engineering</option>
      <option value="Instrumentation">Instrumentation</option>
      <option value="Production">Production</option>
      <option value="Chemical">Chemical</option>
      <option value="Electrical">Electrical</option>
      <option value="Electrical">Mechatronix</option>

    </select>
  </div>
  
  <hr class="rule">
  
  <div class="sel sel--superman">
    <select name="sem" id="sem" >
      <option value="" disabled selected>Select Semister</option>
      <option value="Sem1">Sem 1</option>
      <option value="Sem2">Sem2</option>
      <option value="Sem3">Sem3</option>
      <option value="Sem4">Sem4</option>
      <option value="Sem5">Sem5</option>
      <option value="Sem6">Sem6</option>
      <option value="Sem7">Sem7</option>
      <option value="Sem8">Sem8</option>
    </select>
  </div>
  <br>
  <div class="text-center">
    <button type="submit" class="btn btn-info btn-lg btn-block">
      <svg class="bi bi-clipboard" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 00-2 2V14a2 2 0 002 2h10a2 2 0 002-2V3.5a2 2 0 00-2-2h-1v1h1a1 1 0 011 1V14a1 1 0 01-1 1H3a1 1 0 01-1-1V3.5a1 1 0 011-1h1v-1z" clip-rule="evenodd"/>
        <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-1a.5.5 0 00-.5-.5zm-3-1A1.5 1.5 0 005 1.5v1A1.5 1.5 0 006.5 4h3A1.5 1.5 0 0011 2.5v-1A1.5 1.5 0 009.5 0h-3z" clip-rule="evenodd"/>
      </svg><br>
      Get Books</button>
  </div></form>

<a href="{%url 'unicards'%}"><button type="button" class="btn btn-lg btn-default" >Get Calculator OR Workshop Coat</button>



  
  
    <span class="sel__placeholder sel__placeholder--black-panther"></span>
    
  
    <div id="overlay" style="display:none;">
      <div class="spinner"></div>
      <br/>
      Loading...
  </div>
  
  
  <br><br><br><br>



  <nav class="mobile-bottom-nav">
    <div class="mobile-bottom-nav__item mobile-bottom-nav__item--active">
      <div class="mobile-bottom-nav__item-content">
        <a href="{%url 'index'%}"><i class="material-icons">home</i></a>
        HOME
      </div>		
    </div>
    <div class="mobile-bottom-nav__item">		
      <div class="mobile-bottom-nav__item-content">
        <a href="{%url 'unicards'%}"><i class="material-icons">inbox wc</i></a>
        Calc & Labcoat
      </div>
    </div>
    <div class="mobile-bottom-nav__item">
      <div class="mobile-bottom-nav__item-content">
       <a href=""> <i class="material-icons">subscriptions</i></a>
        Demo
      </div>		
    </div>
    
    <div class="mobile-bottom-nav__item">
      <div class="mobile-bottom-nav__item-content">
        <a href="{%url 'userinfoform'%}"><i class="material-icons">settings</i></a>
        Profile
      </div>		
    </div>
  </nav>
{%endblock body%}
{%block style%}
<style>




  #overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
  }
 
  .spinner {
      margin: 0 auto;
      height: 64px;
      width: 64px;
      animation: rotate 0.8s infinite linear;
      border: 5px solid rgb(28, 81, 255);
      border-right-color: transparent;
      border-radius: 50%;
  }
  @keyframes rotate {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }








    /* ===== Resets and Housekeeping ===== */
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  background-image: url(' ') ;
  background-repeat: no-repeat;
  height: 100%;
  padding: 0px 0px;
  text-align: center;
}

/* ===== Actual Styles ===== */

/* ===== Horizontal Rule ===== */
.rule {
  margin: 10px 0;
  border: none;
  height: 1.5px;
  background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
}

/* ===== Select Box ===== */
.sel {
  font-size: 1rem;
  display: inline-block;
  margin: 2em 1em;
  width: 300px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.sel::before {
  position: absolute;
  content: '\f063';
  font-family: 'FontAwesome';
  font-size: 2em;
  color: #FFF;
  right: 20px;
  top: calc(50% - 0.5em);
}

.sel.active::before {
  transform: rotateX(-180deg);
}

.sel__placeholder {
  display: block;
  font-family: 'Quicksand';
  font-size: 2.3em;
  color: #3d3b33;
  padding: 0.2em 0.5em;
  text-align: left;
  pointer-events: none;
  user-select: none;
  visibility: visible;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: calc(100% + 4px);
  left: -4px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 1.0em;
  background-color: #FFF;
  width: calc(100% + 8px);
  box-sizing: border-box;
  padding-bottom: 50px;
}

.sel.active .sel__box {
  display: block;
  animation: fadeInUp 60ms;
}

.sel__box__options {
  display: list-item;
  font-family: 'Quicksand';
  font-size: 1.5em;
  color: #838e95;
  padding: 0.5em 1em;
  user-select: none;
}

.sel__box__options::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  font-size: 0.5em;
  margin-left: 5px;
  display: none;
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  background-color: #ebedef;
}

/* ----- Select Box Black Panther ----- */
.sel {
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
}

.sel--black-panther {
  z-index: 3;
}

/* ----- Select Box Superman ----- */
.sel--superman {
/*   display: none; */
  z-index: 2;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}







.mobile-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  will-change: transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  display: -webkit-box;
  display: flex;
  height: 50px;
  box-shadow: 0 -2px 5px -2px #333;
  background-color: #fff;
}
.mobile-bottom-nav__item {
  -webkit-box-flex: 1;
          flex-grow: 1;
  text-align: center;
  font-size: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}
.mobile-bottom-nav__item--active {
  color: red;
}
.mobile-bottom-nav__item-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
</style>
{%endblock style%}
{%block script%}
<script>



/* bottom nav bar*/
var navItems = document.querySelectorAll(".mobile-bottom-nav__item");
navItems.forEach(function(e, i) {
	e.addEventListener("click", function(e) {
		navItems.forEach(function(e2, i2) {
			e2.classList.remove("mobile-bottom-nav__item--active");
		})
		this.classList.add("mobile-bottom-nav__item--active");
	});
});











/* ===== Logic for creating fake Select Boxes ===== */
$('.sel').each(function() {
  $(this).children('select').css('display', 'none');
  
  var $current = $(this);
  
  $(this).find('option').each(function(i) {
    if (i == 0) {
      $current.prepend($('<div>', {
        class: $current.attr('class').replace(/sel/g, 'sel__box')
      }));
      
      var placeholder = $(this).text();
      $current.prepend($('<span>', {
        class: $current.attr('class').replace(/sel/g, 'sel__placeholder'),
        text: placeholder,
        'data-placeholder': placeholder
      }));
      
      return;
    }
    
    $current.children('div').append($('<span>', {
      class: $current.attr('class').replace(/sel/g, 'sel__box__options'),
      text: $(this).text()
    }));
  });
});

// Toggling the `.active` state on the `.sel`.
$('.sel').click(function() {
  $(this).toggleClass('active');
});

// Toggling the `.selected` state on the options.
$('.sel__box__options').click(function() {
  var txt = $(this).text();
  var index = $(this).index();
  
  $(this).siblings('.sel__box__options').removeClass('selected');
  $(this).addClass('selected');
  
  var $currentSel = $(this).closest('.sel');
  $currentSel.children('.sel__placeholder').text(txt);
  $currentSel.children('select').prop('selectedIndex', index + 1);
});










$(document).ready(function() {
	$('button').click(function(){
		$('#overlay').fadeIn().delay(10000).fadeOut();
	});
});

</script>
{%endblock script%}